.container {
    margin: auto;
}


body {
    margin: 0;
    font-family: fantasy;
    background-color: black;
    background-size: auto;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    font-size: small;
  
    
}





.button {
    padding: 1px 5px;
    display: flex;
    justify-content: center;
    border-radius: 35px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 20px;

}





.top-bar {
    background-color: rgb(0, 0, 0);
    height: 210px;
    width: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: white;
    background-image:url(starky.png);
    border-color: white;

}

.banner {  
    margin-top: 30px;
    width: 45vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    
    
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        width: 30%;
        margin: auto; 
        border: 2px solid rgb(255, 255, 255);
        padding: 35px 25px;
        border-radius: 10px;
        background-image: url(img/starky.png);
        background-size: cover;
        background-position: center; 
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    }
    
    .box-layout {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        height: 80vh; 
        box-shadow: 0 2px 10px rgba(75, 53, 53, 0.1);
        padding: 20px;
        
    }
    
    .button-layout {
        background-color: #ffffff; 
        border: none; 
        color: rgb(82, 82, 82); 
        padding: 10px 20px; 
        width: auto; 
        position: relative;
        
        text-align: center; 
        text-decoration: none; 
        font-size: 12px;
        margin: 8px auto; 
        cursor: pointer; 
        border-radius: 8px; 
        transition: background-color 0.3s, transform 0.2s; 
    }
    
    .user-code {
        margin: auto; 
        padding: 15px 0 40px;
        padding-bottom: 30px;
    }
    
    .button-layout:hover {
        background-color: #5c5c5c; 
        transform: scale(1.05); 
    }
    
    .button-layout:active {
        transform: scale(0.95); 
    }
    
    .inlog-logo {
        display: flex;
        justify-content: space-around; 
        align-items: center; 
        gap: 15px;
        width: 160px;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 10px;
        border-radius: 20px;
        padding-bottom: 10px;
        
            
    }
    
    .inlog-logo img {
        max-width: 50px; 
        height:45px;
        padding-top: 30px;
        
    }    

    
    
    .image-container {
       position: absolute;
        left: 0px; 
        top: 130px;
        padding-bottom: 90px; 
        width: 200px; 
    }
    
    .left-image {
        width: 100%; 
        height: auto; 
    
    }
    
   
    
 